body
  font-family "Montserrat", "Liberation Sans"

input
  border 1px solid #bdbdbd
  font-size 16px
  padding 3px
  border-radius 2px

.navbar
  width 100%
  border-bottom 1px solid #ddd
  font-size 24px

  h1
    margin 0px

  .connection-indicator
    position absolute
    right 0px
    top 0px
    height 24px

.db
  position relative

.collection-list
  position absolute
  width 25%
  border-right 1px solid #ddd

  div
    text-overflow ellipsis
    overflow hidden

.results
  position absolute
  left 25%
  width 75%
